# supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SERVICE_ROLE=


# stripe
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_
STRIPE_SK_KEY=sk_test_
STRIPE_ENDPOINT_SECRET=whsec
PRO_PRCIE_ID=price_



SITE_URL="http://localhost:3000"

